.task-item {
  list-style: none;
  border: 1px solid #ccc;
  margin-left: -40px;
  padding-left: 40px;
}

.task-item span {
  display: inline-block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.task-item.incomplete {
  background-color: #4EDC66;
}

.task-item.complete {
  background-color: #bbb;
  color: #666;
  font-weight: 100px;
}
