.task-item, .task-total {
  list-style: none;
  border: 1px solid #ccc;
  margin-left: -40px;
  padding-left: 40px;
}

.task-total {
  font-weight: bold;
  border: none !important;
}

.task-item span, .task-field, .time-field, .task-total {
  display: inline-block;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
}

.task-item input[type=text] {
  padding: 0;
  background-color: transparent;
  color: #0E1493;
  border: none;
  outline: none;
}

.task-field {
  width: 200px;
}

.time-field {
  width: 40px;
}

.task-item input[type=checkbox] {
  position: relative;
  top: 4px;
  height: 20px;
  width: 22px;
  margin: 0;
  margin-left: -22px;
}

.task-item.incomplete {
  background-color: #4EDC66;
}

.task-item.complete {
  background-color: #bbb;
  color: #666;
  font-weight: 100px;
}
