.task-item {
  list-style: none;
  border: 1px solid #ccc;
  margin-left: -40px;
  padding-left: 40px;
}

.task-item span, .task-field, .time-field {
  display: inline-block;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
}

.task-item input {
  padding: 0 0 0 5px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  outline: none;
}

.task-field {
  width: 200px;
}

.time-field {
  width: 40px;
}

.task-item.incomplete {
  background-color: #4EDC66;
}

.task-item.complete {
  background-color: #bbb;
  color: #666;
  font-weight: 100px;
}
